:root {
    --color-white: #fff;
    --color-firt: #E6DCDB;
    --color-second: #EB6361;
    --color-third: #702A87;
    --color-four: #2C82C9;
    --color-first-black: #000;
    --color-second-black: #1D2247;
    --color-sucess: #71BA51;
    --color-error: #CF000F;
}

body {
    font-family: "Source Sans Pro";
    color: var(--color-white);
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/906779635937338915/72C9F4F0967EC184AB98089C7F1F364A41E913C2/?q=60);
}

section {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    flex-direction: column;
}

input {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-second-black);
    text-align: center;
    margin-top: 8px;
    height: 30px;
    width: 300px;
    border: none;
    background-color: var(--color-firt);
}

button {
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
    margin-top: 8px;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 150px;
    background-color: var(--color-third);
}

.page-title {
    display: inline-block;
    opacity: 90%;
    font-weight: 400;
    font-size: 60px;
    background-color: var(--color-second);
    height: 70px;
    width: 250px;
    line-height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 3px 3px 2px var(--color-second-black);
}

.page-subtitle {
    font-weight: 400;
    font-size: 30px;
    color: var(--color-first-black);
    margin-top: 10px;
}

p {
    padding-top: 5px;
    color: var(--color-sucess);
    font-size: 25px;
    text-shadow: 1px 1px 2px var(--color-second-black);
}

p.error {
    color: var(--color-error);
}
